<%= form_with(model: apost, local: true) do |form| %>
  <% if apost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apost.errors.count, "error") %> prohibited this apost from being saved:</h2>

      <ul>
      <% apost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :apost_title ,class: "form-control"%>
  </div>

<div class="form-group">
    <%= form.label :text %>
    <%= form.text_area(:text,
                      rows: 3,
                      class: 'form-control',
                      placeholder: 'Write your post') %>

  </div>

  <div class="form-group">
     <%= form.label :category %>
    <%= form.select :category_id,Category.all.map{|c| [c.category,c.id]} %>
  </div>

<div class="form-group">

    <%= form.number_field :user_id, id: :apost_user_id ,value: current_user.id,type: :hidden%>
  </div>


  <div class="actions">
    <%= form.submit "Create" ,class: "btn btn-primary"%>
  </div>
<% end %>
