<div class="panel-heading conversation-heading">
  <span class="contact-name-notif"><%= @recipient.name %></span>
</div> <!-- conversation-heading -->

<!-- Close conversation button -->
<%= link_to "X",
            close_private_conversation_path(conversation),
            class: 'close-conversation',
            title: 'Close',
            remote: true,
            method: :post %>
<%= render 'private/conversations/conversation/heading/create_group_conversation', conversation: conversation %>
<% if !@recipient.sent_invitation?(current_user.id,@recipient.id) %>

<%= form_with(model: [ @recipient, @recipient.invitations.build ], local: true) do
|form| %>
<%= form.number_field :user_id,value: current_user.id,type: :hidden%>
<%= form.number_field :friend_id,value: @recipient.id,type: :hidden%>
<%= form.submit "Add as friend", class: 'btn btn-link' %>
<%end%>



<%end%>
