<%= form_tag users_path, method: :get do=%>
  <div class="form-group">
    <%= text_field_tag :searchuser,params[:searchuser],  class:"form-control", placeholder:"Search by name"=%>

  <%= submit_tag ("Search"),class:"btn btn-default"=%>
    </div>
<%end%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>

    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <% if !user.sent_invitation?(current_user.id,user.id) %>
    <%if user.id !=current_user.id %>
    <tr>
      <td><%= user.name=%></td>
      <td><%= user.email=%></td>

      <td><%= form_with(model: [ user, user.invitations.build ], local: true) do
|form| %>
  <%= form.number_field :user_id,value: current_user.id,type: :hidden%>
  <%= form.number_field :friend_id,value: user.id,type: :hidden%>
    <%= form.submit "Add friend", class: 'btn btn-success' %>
      <%end%>
</td>
        <%end%>
      <td></td>
    </tr>
  <%end%>
    <% end %>
  </tbody>
</table>
