<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

 <%= link_to "Group Site",root_path,class:"navbar-brand" %></li>
    </div> <!-- end div class="navbar-header" -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">  <%= link_to "Posts",root_path,class:"nav-link" %></li>
        <li><%= link_to "Create Post",new_apost_path,class:"nav-link" %></li>
        <li><%= link_to "My posts",myposts_path,class:"nav-link" %></li>
        <li><%= link_to "Add Category",new_category_path,class:"nav-link" %></li>
        <li><%= link_to "My friends",my_friends_path,class:"nav-link" %></li>
        <li><%= link_to "Add friend",users_path,class:"nav-link" %></li>
        <%if !current_user.pending_invitations.empty?%>
        <li><%= link_to "Friend request",my_invitations_path,class:"nav-link" %></li>

        <%end%>
      </ul>
      <%= form_tag aposts_path, method: :get,  class:"navbar-form navbar-left" do=%>
        <div class="form-group">
          <%= text_field_tag :search,params[:search],  class:"form-control", placeholder:"Search tittle or a keyword"=%>
        </div>
        <%= submit_tag ("Search"),class:"btn btn-default"=%>
      <%end%>


      <ul class="nav navbar-nav navbar-right">

         <li class="dropdown pc-menu">
        <a id="user-settings" class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete,class:"btn btn-danger"  %></li>
        </ul>
      </li>
      </ul>
      <div class='pull-right' id ='conversations-menu'>
  <%= render 'layouts/navigation/header/dropdowns/conversations' %>
</div>
    </div> <!-- end div class="collapse navbar-collapse" -->
    </div><!-- end div class="row" -->
  </div> <!-- end div class="container" -->
</div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->
