<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Group Site</title>
       <%= Gon::Base.render_data %>
       <%= csrf_meta_tags %>

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <p class="navbar-text float-right">
      <% if user_signed_in? %>

  <%= render 'layouts/header' %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class="container">
    <%= yield %>
    <%= render 'layouts/application/private_conversations_windows' %>
    <%= render 'layouts/application/group_conversations_windows' %>
    </div>
  </body>
</html>
